<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>EkranStartowy</servlet-name>
        <servlet-class>pl.polsl.proj.servlets.EkranStartowy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logkonsul</servlet-name>
        <servlet-class>pl.polsl.proj.servlets.Logkonsul</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EkranRest</servlet-name>
        <servlet-class>pl.polsl.proj.servlets.EkranRest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Loguzyt</servlet-name>
        <servlet-class>pl.polsl.proj.servlets.Loguzyt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logres</servlet-name>
        <servlet-class>pl.polsl.proj.servlets.Logres</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Zamowienie</servlet-name>
        <servlet-class>pl.polsl.proj.servlets.Zamowienie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Zamowienie2</servlet-name>
        <servlet-class>pl.polsl.proj.servlets.Zamowienie2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rejuzyt</servlet-name>
        <servlet-class>pl.polsl.proj.servlets.Rejuzyt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rejres</servlet-name>
        <servlet-class>pl.polsl.proj.servlets.Rejres</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DodawanieRestauracji</servlet-name>
        <servlet-class>pl.polsl.proj.servlets.DodawanieRestauracji</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EdycjaRestauracji</servlet-name>
        <servlet-class>pl.polsl.proj.servlets.EdycjaRestauracji</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrzegladanieRestauracji</servlet-name>
        <servlet-class>pl.polsl.proj.servlets.PrzegladanieRestauracji</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EkranStartowy</servlet-name>
        <url-pattern>/EkranStartowy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Loguzyt</servlet-name>
        <url-pattern>/Loguzyt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logkonsul</servlet-name>
        <url-pattern>/Logkonsul</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EkranRest</servlet-name>
        <url-pattern>/EkranRest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logres</servlet-name>
        <url-pattern>/Logres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rejres</servlet-name>
        <url-pattern>/Rejres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rejuzyt</servlet-name>
        <url-pattern>/Rejuzyt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DodawanieRestauracji</servlet-name>
        <url-pattern>/DodawanieRestauracji</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EdycjaRestauracji</servlet-name>
        <url-pattern>/EdycjaRestauracji</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrzegladanieRestauracji</servlet-name>
        <url-pattern>/PrzegladanieRestauracji</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Zamowienie</servlet-name>
        <url-pattern>/Zamowienie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Zamowienie2</servlet-name>
        <url-pattern>/Zamowienie2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
